@import 'variables.scss';

body {
  margin: 0;
  font-family: 'opensans-regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
