$black: #181818;
$dark_blue: #1b262c;
$blue: #0f4c75;
$ligth_blue: #3282b8;
$white: #fff;

$bootstrap-xs: "(max-width : 767px)";
$bootstrap-sm: "(min-width : 768px) and (max-width : 991px)";
$bootstrap-md: "(min-width : 992px) and (max-width : 1199px)";
$bootstrap-lg: "(min-width : 1200px)";