
$white: #fff;

$bootstrap-xs: "(max-width : 767px)";
$bootstrap-sm: "(min-width : 768px) and (max-width : 991px)";
$bootstrap-md: "(min-width : 992px) and (max-width : 1199px)";
$bootstrap-lg: "(min-width : 1200px)";